*{
    box-sizing: border-box;
}
.conteudo{
    display: flex;
    justify-content: flex-end;
    
    width: 100%;
    height: 50px;
    background-color: #291dcace;
}
.usuario{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    color: #fff;
}
img{
    margin-right: 15px;
    width: 50px;
    height: 100%;
}
