div#menu{
    width: 40px;
    margin: 0;
    margin-top: 30px;
    height: 40px;
    
}
aside#aside{
    width: 300px;
    margin: 0;
    height: 78.5vh;
    background-color: #291dcace;
}
div#menuSide{
	width: 300px;
	height: 300px;
}
#menuSide ul{
	margin: 0;
	padding: 0;
	list-style: none;
	
}
#menuSide li{
	margin: 0;
	padding: 0;
	color: #fff;
	border-bottom: 1px dotted gray;
}
#menuSide a{
	display: inline-block;
	width: 300px;
	height: 55px;
	margin: 0;
	padding-left: 50px;
	padding-right: 50px;
	line-height: 55px;
	color: #fff;
	text-decoration: none;
}
#menuSide a:hover{
	background-color: #090855;
}
.btnAside{
	background-color: #fff;
}
.btnAside:hover{
	transition: all 0.4s;
	background-color: #090855;
	color: #fff;
	border: 1px solid #fff;
}