html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e9e7e9;
    font-family: Helvetica;
}
main{
    width: 100%;
}
.containe{
    width: 100%;
    margin: 0;
    padding: 0;
}
.content{
    width: 90%;
    min-height: 85vh;
    margin-left: 3%;
    margin-top: 30px;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 1%;
    background-color: #fff;
    border-radius: 5px;
}
.title{
    margin-bottom: 60px;
    text-align: center;
    font-family: Helvetica;
    font-size: 40pt;
    color: #255C69;
}
.title_d{
    font-family: Helvetica;
    font-size: 25pt;
    color: #255C69;
}
.btnTop{
    background-color: #24d5f0;
    color: #fff;
}
.btnTop:hover{
    background-color: #1aaac1;
    color: #fff;
}
.content-table{
    width: 70%;
}
div#footer{
    color: #000;
    font-weight: bold;
    border: 1px solid red;
}
.space{
    height: 10px;
}
.spaceDois{
    height: 40px;
}
.spaceTres{
    display: inline-block;
    margin-right: 200px;
}
.spaceQuatro{
    margin-top: 50px;
}
.spaceCinco{
    margin-top: 40px;
}
.spaceSeis{
    margin-top: 30px;
}

/*Alinhamento Flex*/
.flex {
	display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-center{
    justify-content: center;
}

.flex-start {
	justify-content: flex-start;
}
.flex-end {
	justify-content: flex-end;
}
.flex-space-around{
    justify-content: space-around;
}
.flex-space-between{
    justify-content: space-between;
}
.wrap {
	flex-wrap: wrap;
}

