html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e9e7e9;
    font-family: Helvetica;
}
.content{
    width: 90%;
    min-height: 77vh;
    margin: auto;
    margin-top: 30px;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 1%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 2px rgb(88, 88, 88);
}
.title{
    margin-bottom: 60px;
    text-align: center;
    font-family: Helvetica;
    font-size: 40pt;
    color: #255C69;
}
.title_d{
    font-family: Helvetica;
    font-size: 25pt;
    color: #255C69;
}
.content-table{
    width: 70%;
}
.space{
    height: 10px;
}
.spaceDois{
    height: 40px;
}

/*Alinhamento Flex*/
.flex {
	display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-center{
    justify-content: center;
}

.flex-start {
	justify-content: flex-start;
}
.flex-end {
	justify-content: flex-end;
}
.flex-space-around{
    justify-content: space-around;
}
.flex-space-between{
    justify-content: space-between;
}
.wrap {
	flex-wrap: wrap;
}