*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("../img/login.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mascara{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 252, 252, 0.7);
}
.login{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    z-index: 11;
}
form{
    text-align: left;
    margin: 0;
    color: cadetblue;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 7px;
    padding: 0;
}

.containe-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px 5px rgba(44, 44, 44, 0.7);
    z-index: 10;
}
img{
    width: 50%;
    height: 35%;
}
.message{
    height: 54px;
    position: relative;
    margin: 0;
    margin-top: 10px;
}
.botao{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}