*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #cde0e2;
}
.conteudo{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 18px 2px rgba(44, 44, 44, 0.7);
}
.space{
    margin-top: 50px;
}
/* .message{
    position: relative;
    border: solid 1px;

} */
